nav
	ul.list-unstyled.components
		li
			a.active(href="#")
				i.fas.fa-users 
				| Users 
		li
			a(href="#")
				i.fas.fa-pen 
				| Test Groups
		li
			a(href="#")
				i.fas.fa-building 
				| Companies
		li
			a(href="#")
				i.fas.fa-address-card 
				| Company Areas