nav
	ul.list-unstyled.components
		li
			a.active(href="/users")
				i.fas.fa-users 
				| Users 
		li
			a(href="/groups")
				i.fas.fa-pen 
				| Test Groups
		//li
			a(href="/departments")
				i.fas.fa-address-card 
				| Company Departments