div(ng-include="'/partials/main/header'")
div.users-wrapper
	div.sidebar(ng-include="'/partials/users/sideMenu'")
	div.page-content-wrap
		h1 Users
		a.btn.btn-success.add(href="/users/edit")
			i.fas.fa-plus 
			| Add User
		div.grid(id="user-grid")