script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/jsgrid/dist/jsgrid.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/ipMainCtrl.js")
script(type="text/javascript", src="/app/common/ipNotifier.js")
script(type="text/javascript", src="/app/account/ipAuth.js")
script(type="text/javascript", src="/app/account/ipLoginCtrl.js")
script(type="text/javascript", src="/app/account/ipIdentity.js")
script(type="text/javascript", src="/app/users/ipUsersListCtrl.js")